<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>This is a Blog Page</h1>
    <h2>Add a new post</h2>
    <form action="/add" method="POST">
      <textarea required name="post"></textarea>
      <br />
      <input type="submit" />
    </form>
    <ul>
      {% for post in posts %}
      <li>
        {{ post }}<a href="/edit/{{ loop.index }}"> edit ||</a
        ><a href="/delete/{{ loop.index }}"> Delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
